<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Settings
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Biometrics ({{ biometricType }})</ion-label>
      <ion-toggle
        [(ngModel)]="useBiometrics"
        (ionChange)="authModeChanged()"
        [disabled]="useSecureStorageMode"
      ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Application Passcode</ion-label>
      <ion-toggle
        [(ngModel)]="usePasscode"
        (ionChange)="authModeChanged()"
        [disabled]="useSecureStorageMode"
      ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Secure Storage Mode</ion-label>
      <ion-toggle [(ngModel)]="useSecureStorageMode" (ionChange)="authModeChanged()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Lock</ion-label>
      <ion-button (click)="lock()"><ion-icon name="lock-closed"></ion-icon></ion-button>
    </ion-item>
    <ion-item>
      <ion-label class="description">
        <strong>Note:</strong> This app will allow the user to set Biometrics and an Application passcode at the same
        time. This makes sense if not also using system PIN fallback, which this app is by default. It is just written
        this way to show how both would work together if you build the application with that option set to false.
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
